
.stay-focused{
    font-size: 35px;
    font-family: 'Crete Round', serif;
    border-left: 5px solid orangered;
    border-radius: 1px;
    padding-left: 12px;
}
.mission-color{
    color: orange;
}
.explore-button{
    text-decoration: none;
    color: white;
    background-color: coral;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
}
.focused-flex{
    display: flex;
}
.half-width{
    width: 40%;
}
.half-width img{
    width: 80%;
    margin-top: 20px;
    margin-left: 30%;
}
.mission-header{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
}
.mission-2022 img{
    width: 10%;
}